<div style="position: relative;">
    <img class="bannerheight" src="assets/img/banner5.png" alt="">
    <div class="heading">Terms of use</div>
</div>


<div class="qq-privacy">

    <p>
        These Terms of Use (“Terms”) govern the use of Digiqal’s <span class="color">(“Digiqal Technologies”) </span>
        website and services. By using our website and services, you agree to be bound by these Terms.
    </p>

    <div class="mt-4">
        <b>Services</b>
        <p>
            Digiqal provides IT consulting and outsourcing services to our clients. We strive to deliver high-quality
            services that meet our clients’ needs. However, we make no guarantees or warranties, express or implied,
            about the results of our services.
        </p>
    </div>

    <div class="mt-4">
        <b>Website Use</b>


        <p class="mb-2"> O Our website is provided for informational purposes only. You may use our website for lawful
            purposes only. You may not use our website to:</p>
        <p> O Violate any applicable laws or regulations.</p>
        <p> O Infringe on the rights of others.</p>
        <p> O Engage in any conduct that is harmful, fraudulent, or misleading. </p>
        <p>We reserve the right to terminate your use of our website at any time for any reason.</p>


    </div>


    <div class="mt-4">

        <b> Intellectual Property</b>
        <p>

            All content on our website, including text, graphics, logos, images, and software, is the property of
            Digiqal or its licensors and is protected by copyright, trademark, and other intellectual property laws. You
            may not reproduce, modify, distribute, or display any content from our website without our prior written
            consent.
        </p>
    </div>

    <div class="mt-4">
        <b>Confidentiality</b>
        <p>
            In the course of providing our services, we may have access to our clients’ confidential information. We
            will maintain the confidentiality of this information and will not disclose it to third parties except as
            required by law or as authorized by our clients.
        </p>
    </div>

    <div class="mt-4">
        <b>Limitation of Liability</b>
        <p>
            To the maximum extent permitted by law, Digiqal and its affiliates, officers, directors, employees, and
            agents shall not be liable for any indirect, incidental, special, or consequential damages arising out of or
            in connection with our services or website, even if we have been advised of the possibility of such damages.
        </p>
    </div>

    <div class="mt-4">
        <b>Indemnification</b>
        <p>
            You agree to indemnify and hold Digiqal and its affiliates, officers, directors, employees, and agents
            harmless from any claims, damages, or expenses arising out of or in connection with your use of our website
            or services.
        </p>
    </div>


    <div class="mt-4">
        <b>Termination</b>
        <p>
            We may terminate your use of our website or services at any time for any reason. Upon termination, you must
            cease all use of our website and services.
        </p>
    </div>


    <div class="mt-4">
        <b>Governing Law</b>
        <p>
            These Terms shall be governed by and construed in accordance with the laws of the state of [insert state],
            without giving effect to any principles of conflicts of law.
        </p>
    </div>

    <div class="mt-4">
        <b>Amendments</b>
        <p>
            We may amend these Terms at any time by posting the amended Terms on our website. Your continued use of our
            website and services after the posting of any amended Terms constitutes your acceptance of those amended
            Terms.
        </p>
    </div>


    <div class="mt-4">
        <b>Contact Us </b>
        <p> If you have any questions or concerns about these Terms, please contact us at:</p>

        <div class="mt-3">
            <p class="bold"> Digiqal Technologies Private Limited</p>
            <p>9th Main Street</p>
            <p> Sector 7, HSR Layout</p>
            <p> Bengaluru, Karnataka 560102 IN</p>
            <p>Email: <span class="color">legal@digiqal.in</span></p>
            <p> Mobile : +91 7703-00-7703</p>
        </div>
    </div>





</div>