
.form{
    width: 100%;
    padding: 5px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid ;

}

.submitBtn{
    // position: absolute;
    border: 2px solid #23a8f4;
    background: white;
    color: #23a8f4;
    padding: 4px 25px;
    font-weight: bold;
    // left: 46%;
}

p{
    font-size: 14px;
}

.form1{
    width: 100%;
    padding: 5px 4px;
    margin: 8px 0;
    border: none;
    background-color: #F5F5F5;
    box-sizing: border-box;
  
        outline: none;
        box-shadow: none;
    
}

.form:focus {
    // color: #212529;
    background-color: #fff;
    // border-color: #0e0c0c;
    outline: none;
    box-shadow: none;
}

.term{
  text-align: center;
}


@media screen and (max-width: '700px') {
    // .submitBtn{
    //     left: 3%;
    // }

    .term{
        text-align: start;
      }
    
}




