<div style="position: relative;">
    <img  class="bannerheight" src="assets/img/banner2.png" alt="">

    <div class="heading"> Explore Opportunities</div>

</div>

<div class="container-fluid mt-4 ">
    <div class="p-4">We have been alerted to the existence of fraudulent messages asking job seekers to set up payment to cover
        various costs associated with establishing employment at Digiqal. No one is ever required to pay for employment
        at Accenture. If you are contacted by someone asking for payment, please do not respond, and contact us at
        <a>cs@digiqal.in</a> immediately.</div>
</div>




<div class="secondDiv">

    <div class="container ">
        <div class="d-flex justify-content-between" style="flex-wrap: wrap;">
            <div>Life @ Digiqal</div>
            <div class="smallTxt color">EXPLORE MORE</div>
        </div>
    </div>

    <div class="p-4 col-sm-5">


        <div style=" border: 1px solid #707070; padding: 5px;margin: 5px; text-align: center; ">
            <video width="400" controls autoplay="false" class="myvid" id="player2">
                <source src="assets/img/moviemp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="p-4 col-sm-5">

        <div style=" border: 1px solid #707070; padding: 5px; margin: 5px; text-align: center; min-height: 259px;  ">
            <h2>Lorem ipsum </h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita labore reprehenderit tenetur fuga quos
            corrupti
            error natus nisi delectus ipsum. Et sed nostrum impedit eveniet consequatur eum. Maxime, commodi
            consequuntur.
        </div>
    </div>


</div>


<div class="thirdDiv">

    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <div>Latest Jobs</div>
            <div class="smallTxt color">
                EXPLORE MORE
            </div>
        </div>
    </div>

    <div class=" col-sm-9 m-2 " *ngFor="let item of jobs">
        <div class="jobs">
            <p>{{item.position}}</p>
            <p>Location: {{item.location}}</p>
            <p>Business Area: {{item.businessArea}}</p>
            <p>Type: {{item.type}}</p>
            <button class="btn">View Job</button>
        </div>
    </div>

    <div class="col-sm-9 mb-3"></div>

</div>



<div class="journey">

    <div class="journey1">
        <b> Get ready to start your digital journey </b>
        <div>
            Find answers to frequently asked questions, learn about our hiring process and get tips on how to apply and
            prepare for your role doing incredible things and creating long-lasting value.
        </div>

        <div class="smallTxt color">Learn More</div>
    </div>

    <!-- <div class="col-sm-1"></div> -->
    <div class="journey1">
        <img width="100%" src="assets/img/plant.png" alt="">
    </div>

</div>