<div style="position: relative;">
    <img class="bannerheight" src="assets/img/banner4.png" alt="">
    <div class="heading">Privacy Policy</div>
</div>

<div class="qq-privacy">

    <p>
        At Digiqal <span class="color">(Digiqal Technologies)</span>, we are committed to protecting the privacy and
        security of our clients’ personal information. This Privacy Policy explains how we collect, use, and disclose
        personal information in connection with our IT consulting and outsourcing services.
    </p>

    <div class="mt-4">
        <b>Collection of Personal Information </b>
        <p>We collect personal information from our clients in order to provide our services. </p>
        <p>This information may include:</p>

        <p> O Contact information such as name, email address, phone number, and mailing address.</p>
        <p> O Company information such as company name, industry, and job title.</p>
        <p> O Payment information such as credit card number or bank account details.</p>
        <p> O Technical information such as IP address, browser type, and device information.</p>

        <p class="my-4">We may collect this information through various means, including online forms, emails, phone
            calls, and in-person meetings.</p>

    </div>



    <div class="mt-4">
        <b>Use of Personal Information</b>
        <p>We use the personal information we collect to provide our services to our clients. </p>
        <p>This includes:</p>

        <p> O Communicating with clients about their projects. </p>
        <p> O Processing payments.</p>
        <p> O Analyzing and improving our services</p>
        <p> O Complying with legal obligations. </p>

        <p class="my-4">We may also use personal information to send marketing communications to our clients, such as
            newsletters and promotional offers. Clients may opt out of receiving these communications at any time.</p>

    </div>

    <div class="mt-4">
        <b>Disclosure of Personal Information</b>

        <p>We do not sell or rent personal information to third parties. We may disclose personal information to our
            third-party service providers who assist us in providing our services, such as payment processors and
            hosting providers. We require these service providers to comply with our privacy policies and to use
            personal information only for the purposes for which it was provided.
            We may also disclose personal information if required by law or if we believe that such disclosure is
            necessary to protect our rights or the safety of others.
        </p>
    </div>

    <div class="mt-4">
        <b>Security of Personal Information</b>
        <p>We take reasonable measures to protect personal information from unauthorized access, use, or disclosure.
            These measures include physical, technical, and administrative safeguards.
        </p>
    </div>

    <div class="mt-4">
        <b>Retention of Personal Information</b>
        <p>We retain personal information for as long as necessary to provide our services and to comply with legal
            obligations. When personal information is no longer required, we securely destroy or delete it.
        </p>
    </div>

    <div class="mt-4">
        <b>Your Rights</b>
        <p>Clients have the right to access, correct, or delete their personal information. Clients may also object to
            or restrict the processing of their personal information, or request that we transfer their personal
            information to another company. To exercise these rights, please contact us using the information below.</p>
    </div>

    <div class="mt-4">
        <b> Changes to This Privacy Policy </b>
        <p>We may update this Privacy Policy from time to time. We will post any changes on our website and, if the
            changes are significant, we will provide notice to our clients.</p>
    </div>

    <div class="mt-4">
        <b>Contact Us</b>
        <p>If you have any questions or concerns about our Privacy Policy, or if you would like to exercise your rights
            as described above, please contact us at:</p>
       
            <div class="mt-3">
               <p class="bold"> Digiqal Technologies Private Limited</p>
                <p>9th Main Street</p>
               <p> Sector 7, HSR Layout</p>
               <p> Bengaluru, Karnataka 560102 IN</p>
                <p>Email: <span class="color">legal@digiqal.in</span></p>
               <p> Mobile : +91 7703-00-7703</p>
            </div>

    </div>



</div>