.cookiebox{
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 6px 50px 1px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

@media screen and (max-width:850px){
  .cookiebox , .buttonbox{
    flex-wrap:wrap ;
    justify-content: center;
  }
}

.textbox{
  
  font-size: 14px;
  padding: 15px;
}

.btn1{
  border: 1px solid #23A8F4;
  color: #23A8F4;
  background-color: white;
  padding: 8px 21px;
  width: 200px;
  margin-top: 15px;

}
.btn2{
  border: 1px solid #23A8F4;
  color: white;
  background-color: #23A8F4;
  padding: 8px 21px;
  width: 200px;
  margin-top: 15px;

}

.buttonbox{
  padding-bottom: 15px;
  display: flex;
}

// .mr{
//   margin-right: 20px;
// }

.qotes{
  width: 70%;
  padding: 35px 25px;
}

.profile{
  padding: 15px;
  text-align: center;
}



.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .myvid{
   
    width: 100%;
    height: 262px;
  }

 .carousel-caption {
  position: absolute;
  bottom: 1.25rem;
  left: 36px;
  right: 60%;
  top: 30%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: start;
}

.mr{
  margin-top: 10px;
}

.firstDiv{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 50px auto;
  justify-content: space-between;

  .mr :hover{
    cursor: pointer;
    // padding: 5px;
    transition: all ease-in-out;
    opacity: .5;
    
  }
}



.blue{
  background-color: #23A8F4;
  padding: 16px 50px;
  margin-right: 30px;
  margin-top: 15px;
}

.secondDiv{
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.box1{
  background-color: #F1968F;
  width: 25%;
  height: 200px;
 text-align: center;
 padding: 20px;
 
}

.box2{
  background-color: #059DF3;
  width: 25%;
  height: 200px;
  text-align: center;
  padding: 20px;
}

.box3{
  background-color: #EBB5C8;
  width: 25%;
  height: 200px;
  text-align: center;
  padding: 20px;
}

.box4{
  background-color: #FF7F00;
  width: 25%;
  height: 200px;
  text-align: center;
  padding: 20px;
}

.client{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 11%;
}

.thirdDiv{
margin-top: 100px;
  background-color: #F5F5F5;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}



.eventDiv{
  background-color: white;
  display: flex;
  // flex-wrap: wrap;
  padding:  25px;

}

.eventDiv1{
  background-color: white;
  font-size: 14px;
  flex-wrap: wrap;
  padding: 10px 15px;
}

video {
  width: 100%;
  height: auto;
}

.mt{
  margin-top: 15px;
}


@media screen and (max-width:600px){
  .box1{
    width: 50%;
  }
  .box2{
    width: 50%;
  }
  .box3{
    width: 50%;
  }
  .box4{
    width: 50%;
  }

  .blue{
    width: 90%;
    margin: 5px 0px;
  }

  .firstDiv{
    justify-content: center;
  }

 
 
  
}

@media screen and (max-width:700px){
.mr{
  margin-right: 10px;
  margin-top: 20px;
}
}

@media screen and (max-width:1000px){
.firstDiv{
  width: 80%;
}
}

@media screen and (max-width:1270px){
  .firstDiv{
    width: 70%;
  }
}


@media screen and (max-width:850px){

  .firstDiv{
    width: 76%;
  }

  .eventDiv{
    flex-wrap: nowrap;
  }

  .thirdDiv{
    display: block;
  }

  .col-sm-5{
    width: 100%;
  }

  .mt{
    margin-top: 0;
  }

  .mr{
    margin-top: 10px;
  }

  .qotes{
    width: 100%;
  }
}







