
<!-- cookies -->
<div class="cookiebox" *ngIf="cookieBox">

  <div class="textbox">
    <span>
      Our website uses cookies to give you a great online experience. Your are at liberty to turn t cookies on or off any time except strictly necessary cookies. If you wish to manage your cookies, please click on “Manage Cookies”. By continuing to use this website, you are agreeing to our updated <span class="color">Digiqal Cookies Policy</span>.
   
    </span>
  </div>

  <div class="buttonbox">
   <div>
    <button  class="btn1">Manage Cookies</button>
   </div>
   &nbsp;
   <div>
    <button (click)="allow()" class="btn2">Accept All Cookies</button>
   </div>
   &nbsp;
  </div>

</div>





<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/Group1.png" class="d-block" style="width:100%;    height: 365px; ">
      <div class="carousel-caption ">
        <b>Empowering Business with</b> 
        <h1>Technology Solutions</h1>
      </div>
    </div>
    <!-- <div class="carousel-item">
      <img src="assets/img/Group1.png" class="d-block" style="width:100%; height: 300px;">
      <div class="carousel-caption">
        <p>Empowering Business with </p>
        <h1>Technology Solutions</h1>

      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/Group1.png" class="d-block" style="width:100%; height: 300px;">
      <div class="carousel-caption">
        <p>Empowering Business with </p>
        <h1>Technology Solutions</h1>
      </div>
    </div> -->
  </div>

</div>




<!-- <div class="firstDiv">

  <div class="box1">Cloud Services</div>
  <div class="box2">Enterprise IT</div>
  <div class="box3">Data & Intelligence</div>
  <div class="box4">Gaming</div>

</div> -->

<!-- <div class="firstDiv">
  <div class="blue">
    <img height="50" src="assets/img/microsoft.png" alt="">
  </div>
  <div class="blue">
    <img height="60" src="assets/img/iso.png" alt="">
  </div>
  <div class="blue">
    <img class="mt" height="30" src="assets/img/nasscom.png" alt="">
  </div>
</div> -->


<div class="firstDiv">
  <div class="mr">
    <img height="250"  src="assets/img/new/industries.png" alt="">
  </div>
  <div class="mr">
    <img height="250"  src="assets/img/new/services.png" alt="">
  </div>
  <div class="mr">
    <img  height="250"  src="assets/img/new/platform.png" alt="">
  </div>
</div>


<div class="thirdDiv">

<div class="profile">
  <img src="assets/img/profile.png" alt="">
</div>

<div class="qotes">
 <p>
  “Success in business is not just about innovation and hard work, it’s about building a team that shares your vision and is committed to achieving it. At <span class="color">Digiqal Technologies</span>, we strive to empower our employees to think outside the box and drive the digital transformation of industries. Together, we can create a future where technology is not just a tool, but a force for good.” 
 </p>

   <span class="">- Sandeep Kumar Tiwari, </span>
      <p>
        <span class="smallTxt">Founder & CEO - Digiqal</span>
      </p>
</div>

</div>





<!-- Carousel -->

<div class="client">
  <!-- <div class="col-sm-1"> -->
  <div class="col-sm-2 " >Client Speak</div>&nbsp;
  <!-- <div class="col-sm-7"> </div> -->
  <div class="col-sm-1 smallTxt color ">VIEW ALL </div>
</div>

<div id="demo1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">

  <div class="carousel-indicators">
    <button style="border: 1px solid #23A8F4;" type="button" data-bs-target="#demo1" data-bs-slide-to="0"
      class="active"></button>
    <button style="border: 1px solid #23A8F4;" type="button" data-bs-target="#demo1" data-bs-slide-to="1"></button>
    <button style="border: 1px solid #23A8F4;" type="button" data-bs-target="#demo1" data-bs-slide-to="2"></button>
  </div>


  <div class="carousel-inner">
    <div class="carousel-item active">

    

      <div class="secondDiv">

        <div class="p-4 col-sm-5">


          <div style=" border: 1px solid #707070; padding: 5px;margin: 5px; text-align: center; ">

            <!-- <video class="myvid" controls autoplay="false" class="myvid" id="player2">
              <source src="https://player.vimeo.com/video/795880781?h=6f6ac69a9d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" type="video/mp4">
            </video> -->
            
            <!-- <iframe class="myvid"  src="https://player.vimeo.com/video/795880781?h=6f6ac69a9d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"  
            
             frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen ></iframe> -->

             <video class="myvid"  controls>
              <source src="assets/clips/Testimonial.mp4" type="video/mp4">
              
            Your browser does not support the video tag.
            </video>

            
            
          </div>
        </div>
        <div class="p-4 col-sm-5">

          <div style=" border: 1px solid #707070; padding: 5px; margin: 5px; text-align: center; min-height: 281px;  ">
            <h2>Rated 5 star</h2>
            I'd like to say huge thank to Digiqal team they have demonstrated that they are professional dedicated and customer focused IT service and support organisation. I highly recommend for all IT needs.
          </div>
        </div>


      </div>


    </div>

    <!-- <div class="carousel-item">

      

      <div class="secondDiv">

        <div class="p-4 col-sm-5">


          <div style=" border: 1px solid #707070; padding: 5px;margin: 5px; text-align: center; ">
           
            <iframe class="myvid"  src="https://player.vimeo.com/video/795880781?h=6f6ac69a9d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Testimonial #1 | Digiqal"></iframe>
          </div>
        </div>
        <div class="p-4 col-sm-5">

          <div style=" border: 1px solid #707070; padding: 5px; margin: 5px; text-align: center; min-height: 281px;  ">
            <h2>Rated 5 star</h2>
            I'd like to say huge thank to Digiqal team they have demonstrated that they are professional dedicated and customer focused IT service and support organisation. I highly recommend for all IT needs.
          </div>
        </div>


      </div>

    </div> -->


  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#demo1" data-bs-slide="prev">
    <span style="filter: invert(5);" class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo1" data-bs-slide="next">
    <span style="filter: invert(5);" class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>



<div class=" thirdDiv ">

  <div class="p-4 col-sm-5">

    <div class="d-flex justify-content-between mb-2">
      <a >Tweets @digiqalindia  <b class="color">
       
       
       
      </b></a>
      <a href="https://twitter.com/digiqalindia?ref_src=twsrc%5Etfw" class="smallTxt color">VIEW ALL </a>
    </div>

    <!-- <div class="eventDiv1">
      <a class="twitter-timeline" data-width="500" data-height="500" href="https://twitter.com/digiqalindia?ref_src=twsrc%5Etfw">Tweets by digiqalindia</a>
    </div> -->

    <div   class="eventDiv1  mb-2">

      <div>
        <a class="twitter-timeline" data-aria-polite="assertive" data-tweet-limit="3" data-chrome="nofooter noborders noheader transparent" data-width="500" data-height="550" href="https://twitter.com/digiqalindia?ref_src=twsrc%5Etfw"></a>
      </div>

      <div class="d-flex justify-content-between mt-1">
        <p datetime class="smallTxt"></p>
       
      </div>

      </div>

    


  </div>


  <div class="p-4 col-sm-5">

    <div class="d-flex justify-content-between mb-2">
      <div>Events</div>
      <div class="smallTxt color">VIEW ALL </div>
    </div>

    <div class="  eventDiv mb-3" *ngFor="let item of event">
      <div class="">
        <img width="150" src="{{item.img}}" >
      </div>

      <div class="m-1">
        <p>{{item.desc}} <br>
         {{item.Date}} <br>
          Venue: Noida, Uttar Pradesh
        </p>

        <div class="float-end m-1">
          <button class="btn">More Details</button>
        </div>
      </div>

    </div>


  </div>
  

</div>



