<div style="position: relative;">
    <img class="bannerheight" src="assets/img/new/aboutUS.png" alt="">
    <div class="heading">About Us</div>
</div>

<div class="main">
    <p>
        Digiqal is a trusted global technology consulting and digital solutions company that has helped over 200 clients
        worldwide achieve success in today’s convergent world. Our team of experienced professionals is dedicated to
        providing innovative and cutting-edge solutions to complex business challenges, enabling our clients to stay
        ahead of the curve and remain competitive.
    </p>

    <span class="mrgn">
        <b> A glimpse into our digital realm</b>
    </span>


    <div class="flex">
        <div class="text-center">
            <span class="numbers">200+</span>
            <div class="clients"><b>Clients</b></div>
        </div>

        <div class="text-center">
            <span class="numbers"> 60+</span>
            <div class="clients"><b>Employees</b></div>
        </div>

        <div class="text-center">
            <span class="numbers">7</span>
            <div class="clients"><b>Awards</b></div>
        </div>

        <div class="text-center">
            <span class="numbers">4</span>
            <div class="clients"><b>Countries</b></div>
        </div>
    </div>



</div>

<div style="background-color:#F5F5F5 ;">

    <div class="firstDiv">
        <div class="mr">
            <img height="250" src="assets/img/new/view.png" alt="">
        </div>
        <div class="mr">
            <img height="250" src="assets/img/new/vision.png" alt="">
        </div>
        <div class="mr">
            <img height="250" src="assets/img/new/values.png" alt="">
        </div>
    </div>
</div>



<div class="main">


    <div class="mrgn"><b>The driving force behind our success
        </b></div>

    <div class="flex2">

        <div class="bluebox">
           <div class="item">
            <b>Sandeep Kumar Tiwari</b>
            <div> <span>Founder & CEO</span></div>
           </div>
        </div>

        <div class="bluebox">
            <img height="235" src="assets/img/new/coo.png" alt="">
            <div class="item">
             <b>Harpreet Singh</b>
             <div> <span>COO</span></div>
            </div>
         </div>

         <div class="bluebox">
            <img height="235" src="assets/img/new/cto.png" alt="">
            <div class="item">
             <b>Kamlesh Panwar</b>
             <div> <span>CTO</span></div>
            </div>
         </div>

         <div class="bluebox">
            <img height="235" src="assets/img/new/hrd.png" alt="">
            <div class="item">
             <b>Deeksha Kumari</b>
             <div> <span>HR Director</span></div>
            </div>
         </div>

       
    </div>



    <div class="mrgn" >
        <b>Certifications & recognition</b>
    </div>


    <div class="flex1">
        <div class="blue">
            <img class="mt" height="80"  src="assets/img/new/ms.png" alt="">
        </div>
        <div class="blue">
            <img class="mt" height="80"  src="assets/img/new/ios.png" alt="">
        </div>
        <div class="blue">
            <img class="mt" height="80"  src="assets/img/new/nasscom.png" alt="">
        </div>
        <div class="blue">
            <img class="mt" height="80"  src="assets/img/cashfree.png" alt="">
        </div>
        
    </div>



</div>