<footer class="footer ">
    <div class="container1 p-4">
        <div class="row1">
            <div class="footer-col">
                <div>
                    <a href=""><img height="25px" src="assets/img/logo.png" alt=""></a>
                </div>

            </div>

            <div class="footer-col1">
                <div routerLink="aboutUs" class="mrgn mrgn1">Company</div>
                <div class="mrgn mrgn1">Investors</div>
                <div  class="mrgn mrgn1">Corporate Responsibility</div>
                <div  class="mrgn mrgn1" routerLink="career">Careers</div>
                <div class="mrgn mrgn1" [routerLink]="'newsroom'">Newsroom</div>
                <div class="mrgn mrgn1" routerLink="contact">Contacts</div>
            </div>

            <div class="footer-col">
                <div class="social-links ">
                    <a target="_blank" href="https://facebook.com/digiqalindia"> <img src="assets/img/fb.png" alt=""></a>
                    <a target="_blank" href="https://twitter.com/digiqalindia"> <img src="assets/img/tweet.png" alt=""></a>
                    <a target="_blank" href="https://www.linkedin.com/company/digiqalindia"> <img src="assets/img/linkdin.png" alt=""></a>
                </div>
            </div>




        </div>

        <hr>
        <div class="">
            <p>Digiqal ( Digiqal Technologies) is a global technology consulting and digital solutions company
                helping over 200 clients succeed in a convergent world. With operations in 3 countries, we go the
                extra mile for our customers and accelerate their digital transformation journey. Established in
                2019, our unique heritage gives us unmatched real-world expertise to solve the most complex
                challenges of enterprises across all industries. Each day, our team enables our customers to improve
                the effectiveness of their business and technology operations and to deliver value to our customers,
                employees and shareholders. Follow us on @digiqalindia.</p>
        </div>

    </div>

   

</footer>
<div class="copyright p-4">

    <div>© Digiqal {{year}}</div>
    <div class="footer-col1">
    <div class="mrgn">Accessibility</div>
    <div class="mrgn">Trademarks</div>
    <div routerLink="/privacy" class="mrgn">Privacy Policy</div>
    <div  routerLink="/terms" class="mrgn">Terms of Use</div>
    <div  routerLink="/cookies" class="mrgn">Cookie Policy</div>
    <div class="mrgn">Startup Policy</div>
    <div class="mrgn">Sitemap</div>
    </div>
    
    <div><img style="height: 15px;" src="assets/img/earth.png" alt=""> English</div>

</div>